<div class="lsn-popup">
  <div class="lsn-popup-image">
      {%- if settings.image != blank -%}
        <div class="desktop_img feature-media_image-wrapper image-with-text__media">          
              <img
                srcset="{%- if settings.image.width >= 165 -%}{{ settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if settings.image.width >= 360 -%}{{ settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if settings.image.width >= 535 -%}{{ settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if settings.image.width >= 750 -%}{{ settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if settings.image.width >= 1070 -%}{{ settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if settings.image.width >= 1500 -%}{{ settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ settings.image | image_url }} {{ settings.image.width }}w"
                src="{{ settings.image | image_url: width: 1500 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ settings.image.alt | escape }}"
                loading="lazy"
              >
        </div>
      {%- else -%}
        <div class="desktop_img feature-media_image-wrapper image-with-text__media">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
     {%- endif -%}
  </div>
  <div class="lsn-popup-content">
    <div class="wr-content">
      {% if settings.popup_heading != blank %}
        <h2 class="popup__heading">
          {{ settings.popup_heading | escape }}
        </h2>
      {% endif %}
     {% if settings.popup_text != blank %}
        <p class="popup_text">{{ settings.popup_text }}</p>
      {% endif %}
    </div>
  </div>
</div>