 
   {{ 'section-announcement.css' | asset_url | stylesheet_tag }}

 {%- style -%}
 .announcement-bar{
   background-color: {{ section.settings.background_announcement }};
   padding: 6px 10px;
 }
  
  {%- endstyle -%}

{%- assign count_block = 0 -%}
{% for block in section.blocks %}
{%- assign count_block = forloop.length -%} 
{% endfor %}

<link href="//cdn.shopify.com/s/files/1/0625/9326/9957/t/258/assets/section-announcement-bar.css?v=36307777000868930721676971904" rel="stylesheet" type="text/css" media="all">
<link href="//cdn.shopify.com/s/files/1/0625/9326/9957/t/258/assets/swiper-bundle.min.css?v=149083001509302440241676971908" rel="stylesheet" type="text/css" media="all">

<announcement-bar class="announcement-bar p4 color-style-2" data-slider-type="loop">
  <div class="container container--fullwidth">
    <div class="announcement-bar__inner">
      <div class="announcement-bar__content center">
          <div class="swiper">
            <div class="swiper-wrapper" id="swiper-wrapper-6bb210adb5710d2db5">
              {%- for block in section.blocks -%}
              {%- if block.settings.text != blank -%}
                <div class="swiper-slide swiper">
                {%- assign data-time = data-time | plus: 1000 -%}
                {%- if block.settings.link != blank -%}
                  <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
                {%- endif -%}
                  <p class="announcement-bar__item {{ block.settings.text_alignment }}" {% if forloop.first %} "data-time = 1000" {%else%} data-time: {{ data-time }} {%endif%}>
                    {{ block.settings.text | escape }}
                  </p>
                {%- if block.settings.link != blank -%}
                  </a>
                {%- endif -%}
                </div>
              {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
      </div>
    </div>
  </div>
</announcement-bar>
<announcement-component  style="display: none;">
  <section class="announcement-bar gradient " role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
     <div id="sliderAnno-{{ section.id }}" class="{% if count_block > 1 %}lsn-slider {% endif %}announcement-bar__list count_block_{{ count_block }}" data-style="{{ count_block }}">
       {%- for block in section.blocks -%}
      {%- if block.settings.text != blank -%}
        {%- assign data-time = data-time | plus: 1000 -%}
        {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
        {%- endif -%}
          <p class="announcement-bar__item {{ block.settings.text_alignment }}" {% if forloop.first %} "data-time = 1000" {%else%} data-time: {{ data-time }} {%endif%}>
            {{ block.settings.text | escape }}
          </p>
        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
      {%- endif -%}
         {%- endfor -%}
    </div>
  </section>
</announcement-component>
{% schema %}
{
  "name": "Announcement",
  "max_blocks": 12,
  "settings": [
          {
          "type": "color_background",
          "id": "background_announcement",
          "label": "Background Announcement",
          "default": "#fff"
          }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement bar",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "alignment left"
            },
            {
              "value": "center",
              "label": "alignment center"
            },
            {
              "value": "right",
              "label": "alignment right"
            }
          ],
          "default": "center",
          "label": "Text alignment"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
