 
   {{ 'section-announcement.css' | asset_url | stylesheet_tag }}

 {%- style -%}
 .announcement-bar{
   background-color: {{ section.settings.background_announcement }};
   padding: 6px 10px;
 }
  
  {%- endstyle -%}
<announcement-component>
  <section class="announcement-bar gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
     <div class="announcement-bar__list">
       {%- for block in section.blocks -%}
      {%- if block.settings.text != blank -%}
        {%- assign data-time = data-time | plus: 1000 -%}
        {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
        {%- endif -%}
                <p class="announcement-bar__item {{ block.settings.text_alignment }}" {% if forloop.first %} "data-time = 1000" {%else%} data-time: {{ data-time }} {%endif%}>
                  {{ block.settings.text | escape }}
                </p>
        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
      {%- endif -%}
         {%- endfor -%}
    </div>
  </section>
</announcement-component>
{% schema %}
{
  "name": "Announcement",
  "max_blocks": 12,
  "settings": [
          {
          "type": "color_background",
          "id": "background_announcement",
          "label": "Background Announcement",
          "default": "#fff"
          }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement bar",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "alignment left"
            },
            {
              "value": "center",
              "label": "alignment center"
            },
            {
              "value": "right",
              "label": "alignment right"
            }
          ],
          "default": "center",
          "label": "Text alignment"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
