 
   {{ 'section-announcement.css' | asset_url | stylesheet_tag }}

 {%- style -%}
 .announcement-bar{
   background-color: {{ section.settings.background_announcement }} !important;
   padding: 6px 10px;
 }
  
  {%- endstyle -%}

{%- assign count_block = 0 -%}
{% for block in section.blocks %}
{%- assign count_block = forloop.length -%} 
{% endfor %}

<announcement-component  style="visibility: hidden;height: 0;">
  <section class="announcement-bar gradient " role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
     <div id="sliderAnno-{{ section.id }}" class="{% if count_block > 1 %}lsn-slider {% endif %}announcement-bar__list count_block_{{ count_block }}" data-style="{{ count_block }}">
       {%- for block in section.blocks -%}
        <div class="announcement-bar-item">
        {%- assign data-time = data-time | plus: 1000 -%}
        {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
        {%- endif -%}
          <p class="announcement-bar__item {{ block.settings.text_alignment }}" {% if forloop.first %} "data-time = 1000" {%else%} data-time: {{ data-time }} {%endif%}>
            {{ block.settings.text | escape }}
          </p>
        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
        </div>
       {%- endfor -%}
    </div>
  </section>
</announcement-component>

{% schema %}
{
  "name": "Announcement",
  "max_blocks": 12,
  "settings": [
          {
          "type": "color_background",
          "id": "background_announcement",
          "label": "Background Announcement",
          "default": "#fff"
          }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement bar",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "alignment left"
            },
            {
              "value": "center",
              "label": "alignment center"
            },
            {
              "value": "right",
              "label": "alignment right"
            }
          ],
          "default": "center",
          "label": "Text alignment"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
