{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

<div class="lsn-collection-grid">
  <div class="page-width">
      <div class="lsn_title-header">
       {% if section.settings.subtitle != blank %}
        <p class="lsn__subtitle">{{ section.settings.subtitle }}</p>
       {% endif %}
       {% if section.settings.heading != blank %}
        <h2 class="lsn__heading center">{{ section.settings.heading }}</h2>
       {% endif %}
      </div>

     <div class="wrapper-collection-grid">
      {%- for block in section.blocks -%}
        {% assign collectionName = block.settings.collection %}
        <div class="collection_item">
          <div class="collection_image">
          {% if block.settings.image != blank %}
             {%-liquid
                assign image_height = block.settings.image.width -%}
              {{ block.settings.image | image_url: width: 1500 | image_tag:
                loading: 'lazy',
                width: block.settings.image.width,
                height: image_height,
                widths: '960',
                alt: block.settings.image.alt | escape
              }}
          {% elsif collectionName.image != blank %}
             <img src="{{ collectionName.image.src | collection_img_url: 'large' }}" alt="{{ collectionName.title | escape  }}" />
          {% else %}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          </div>
          <h4 class="collection-name">{% if block.settings.collection_title != blank %}{{ block.settings.collection_title }}{% else %}{{ collectionName.title }}{% endif %}</h4>
        </div>
      {%- endfor -%}
      </div>
  </div>
</div>

{% schema %}
{
  "name": "LSN collection list",
  "tag": "section",
  "class": "lsn-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "default": "Sub-heading",
      "label": "Sub-heading"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection list"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "collection_title",
          "label": "Collection Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LSN collection list",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}