{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="lsn_collection-list-wrapper">
  <div class="page-width">
      <div class="lsn_title-header">
       {% if section.settings.subtitle != blank %}
        <p class="collection-list-subtitle">{{ section.settings.subtitle }}</p>
       {% endif %}
       {% if section.settings.heading != blank %}
        <h2 class="collection-list-title">{{ section.settings.heading }}</h2>
       {% endif %}
      </div>

     <div class="lsn_collection-list-item">
      {%- for block in section.blocks -%}
        <div class="collection_item">
          <div class="collection_image">
          {% if section.settings.sub_header != blank %}
          {% else %}
          {% endif %}
          </div>
          <h4 class="collection-name">{% if block.settings.collection_title != blank %}{{ block.settings.collection_title }}{% else %}{% endif %}</h4>
        </div>
      {%- endfor -%}
      </div>
  </div>
</div>

{% schema %}
{
  "name": "LSN collection list",
  "tag": "section",
  "class": "lsn-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "default": "Sub-heading",
      "label": "Sub-heading"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection list"
        },
        {
          "type": "text",
          "id": "collection_title",
          "label": "Collection Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LSN collection list",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}