{% assign sub_header = section.settings.sub_header %}
{% assign header = section.settings.header %}
{% assign label = section.settings.label %}
{% assign link = section.settings.link %}
{% assign video = section.settings.link %}

{{ 'faq.js' | asset_url | script_tag }}
{{ 'component-faq.css' | asset_url | stylesheet_tag }}

<div class="lsn-section-faq">
    <div class="page-width lsn-faqs">
        <div class="sum_heading">
            {% if sub_header != blank %}
            <p class="lsn__eyebrow">{{ sub_header }}</p>
            {% endif %}
            {% if header != blank %}
            <h2 class="lsn__heading">{{ header }}</h2>
            {% endif %}
            {% if label != blank %}
            <a class="label_btn lsn_button_style" href="{{ link }}">{{ label }}</a>
            {% endif %}
        </div>
        <div class="lsn-faq_content">
            {% for block in section.blocks %}
            <div class="lsn-faq-item bdr_bottom">
                <p class="lsn-faq-question">{{block.settings.question}}<span>{% render 'icon-plus-faq' %}{% render 'icon-minus-faq' %}</span></p>
                <div class="lsn-js-faq-body rte-content" style="display:none">
                {{block.settings.text_body}}
                {%- if block.settings.video_url.type == "youtube" -%}
                 <div class="lsn-video">
                <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allow="autoplay" allowfullscreen></iframe>
                 </div>
                 {%- endif -%}
                {%- if block.settings.video_url.type == "vimeo" -%}
                  <div class="lsn-video">
                <iframe src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?controls=0&amp;autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;muted=1" width="850" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                  </div>
                  {%- endif -%} 
                {%- if block.settings.image != blank -%}
                <div class="lsn_faq_img">          
                    <img
                      srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                        {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                        {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                      src="{{ block.settings.image | image_url: width: 1500 }}"
                      sizes="(min-width: {{ block.page_width }}px) {{ block.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                    >
                </div>
                {%- endif -%}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "FAQs",
     "class": "lsn-section",
    "tag": "section",
    "settings": [
        {
          "type": "text",
          "id": "sub_header",
          "label": "Sub-Header"
        },
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
            "type": "text",
            "id": "label",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button Link"
          }

	],
    	"blocks": [
      {
        "type": "Item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Question title"
          },
          {
            "type": "richtext",
            "id": "text_body",
            "label": "Content",
            "default": "<p>Write a complete answer to the most frequent questions that your customers might have, such as important product information, shipping policies, payment issues or returns.</p>"
          },
          {
          "type": "video_url",
          "id": "video_url",
          "label": "Video link",
          "accept": ["youtube", "vimeo"]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "FAQs"
    }
    ]
  }
{% endschema %}
