{% assign sub_header = section.settings.sub_header %}
{% assign header = section.settings.header %}
{% assign label = section.settings.label %}
{% assign link = section.settings.link %}

{{ 'component-faq.css' | asset_url | stylesheet_tag }}

<div class="lsn-faqs">
    <div class="page-width">
        <div class="sum_heading">
            {% if sub_header != blank %}
            <span>{{ sub_header }}</span>
            {% endif %}
            {% if header != blank %}
            <h2 class="header_cap">{{ header }}</h2>
            {% endif %}
            {% if label != blank %}
            <a class="label_btn custom-style-btn" href="{{ link }}">{{ label }}</a>
            {% endif %}
        </div>
        <div class="faq_content">
            {% for block in section.blocks %}
            <div class="faq-item {% if forloop.last %} bdr_bottom{% endif %}">
                <h4 class="faq-heading">{{block.settings.question}}<span>{% render 'icon-plus-faq' %}{% render 'icon-minus-faq' %}</span></h4>
                <div class="js-faq-question rte-content" style="display:none">
                {{block.settings.paragraph}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "FAQs",
    "settings": [
        {
          "type": "text",
          "id": "sub_header",
          "label": "Sub-Header"
        },
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
            "type": "text",
            "id": "label",
            "label": "Button - Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button - Url"
          }

	],
    	"blocks": [
      {
        "type": "item",
        "name": "item",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "text_description",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
    {
      "category": "Custom",
      "name": "FAQs"
    }
    ]
  }
{% endschema %}
