{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{% assign bg_style = section.settings.bg_style %}
{% assign background_color = section.settings.background_color %}
{% assign font_style = section.settings.font_color %}

<style>
  {% if bg_style == 'color' %}
    #image-with-text--{{ section.id }} .image-with-text-column{
      background-color: {{ background_color }};
      border-radius: 20px;
      overflow: hidden;
    }
  {% elsif bg_style == 'transparent' %}
    #image-with-text--{{ section.id }} .image-with-text-column{
      background: transparent;
    }
    #image-with-text--{{ section.id }} .image-with-text-column .image-wrapp{
       border-radius: 20px;
       overflow: hidden;
    }
  {% else %}
    #image-with-text--{{ section.id }} .image-with-text-column{
      position: relative;
      border-radius: 20px;
      overflow: hidden;
    }
  {% endif %}
</style>

<div id="image-with-text--{{ section.id }}" class="featured-text-image lsn-image-with-text background-style--{{ bg_style }} font_style_{{ section.settings.font_color }}">
<div class="page-width">
  {% capture image_layout %}
    <div class="image-wrapp">
      {%- if section.settings.image != blank -%}
        <div class="desktop_img feature-media_image-wrapper image-with-text__media">          
              <img
                srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                src="{{ section.settings.image | image_url: width: 1500 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
              >
        </div>
      {%- endif -%}

      {%- if section.settings.image_tab != blank -%}
        <div class="tablet_img feature-media_image-wrapper image-with-text__media">          
              <img
                srcset="{%- if section.settings.image_tab.width >= 165 -%}{{ section.settings.image_tab | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.image_tab.width >= 360 -%}{{ section.settings.image_tab | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.image_tab.width >= 535 -%}{{ section.settings.image_tab | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if section.settings.image_tab.width >= 750 -%}{{ section.settings.image_tab | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section.settings.image_tab.width >= 1070 -%}{{ section.settings.image_tab | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if section.settings.image_tab.width >= 1500 -%}{{ section.settings.image_tab | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ section.settings.image_tab | image_url }} {{ section.settings.image_tab.width }}w"
                src="{{ section.settings.image_tab | image_url: width: 1500 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image_tab.alt | escape }}"
                loading="lazy"
              >
        </div>
      {%- endif -%}

      {%- if section.settings.image_mob != blank -%}
        <div class="mobile_img feature-media_image-wrapper image-with-text__media">          
              <img
                srcset="{%- if section.settings.image_mob.width >= 165 -%}{{ section.settings.image_mob | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.image_mob.width >= 360 -%}{{ section.settings.image_mob | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.image_mob.width >= 535 -%}{{ section.settings.image_mob | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if section.settings.image_mob.width >= 750 -%}{{ section.settings.image_mob | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section.settings.image_mob.width >= 1070 -%}{{ section.settings.image_mob | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if section.settings.image_mob.width >= 1500 -%}{{ section.settings.image_mob | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ section.settings.image_mob | image_url }} {{ section.settings.image_mob.width }}w"
                src="{{ section.settings.image_mob | image_url: width: 1500 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image_mob.alt | escape }}"
                loading="lazy"
              >
        </div>
      {%- endif -%}
    </div>
   {% endcapture %}
   
  <div class="image-with-text-column isolate layout_{{ section.settings.layout_style }}">
  {% if bg_style == 'image' %}
    <div class="background_img_wr">
         {%- if section.settings.image != blank -%}
                <img class="large-screen--background"
                  srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                  src="{{ section.settings.image | image_url: width: 1500 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ section.settings.image.alt | escape }}"
                  loading="lazy"
                >
        {%- endif -%}
  
        {%- if section.settings.image_tab != blank -%}
                <img class="tablet--background"
                  srcset="{%- if section.settings.image_tab.width >= 165 -%}{{ section.settings.image_tab | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if section.settings.image_tab.width >= 360 -%}{{ section.settings.image_tab | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if section.settings.image_tab.width >= 535 -%}{{ section.settings.image_tab | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if section.settings.image_tab.width >= 750 -%}{{ section.settings.image_tab | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if section.settings.image_tab.width >= 1070 -%}{{ section.settings.image_tab | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if section.settings.image_tab.width >= 1500 -%}{{ section.settings.image_tab | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ section.settings.image_tab | image_url }} {{ section.settings.image_tab.width }}w"
                  src="{{ section.settings.image_tab | image_url: width: 1500 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ section.settings.image_tab.alt | escape }}"
                  loading="lazy"
                >
        {%- endif -%}
  
        {%- if section.settings.image_mob != blank -%}
                <img class="mobile-screen--background"
                  srcset="{%- if section.settings.image_mob.width >= 165 -%}{{ section.settings.image_mob | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if section.settings.image_mob.width >= 360 -%}{{ section.settings.image_mob | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if section.settings.image_mob.width >= 535 -%}{{ section.settings.image_mob | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if section.settings.image_mob.width >= 750 -%}{{ section.settings.image_mob | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if section.settings.image_mob.width >= 1070 -%}{{ section.settings.image_mob | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if section.settings.image_mob.width >= 1500 -%}{{ section.settings.image_mob | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ section.settings.image_mob | image_url }} {{ section.settings.image_mob.width }}w"
                  src="{{ section.settings.image_mob | image_url: width: 1500 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ section.settings.image_mob.alt | escape }}"
                  loading="lazy"
                >
        {%- endif -%}
    </div>
  {% endif %}
  
    <div class="lsn-imageWithText--grid ">
      {% unless bg_style == 'image' %}
        {% if section.settings.layout == 'right' %}
        {{ image_layout }}
        {% endif %}
      {% endunless %}
      
      <div class="lsn-ImageWithText-text content-po-{{ section.settings.layout }}">
        <div id="ImageWithText---{{ section.id }}" class="image-with-text__content_positon">
          {%- for block in section.blocks -%}
              {% if block.settings.sub_heading != blank %}
                <span class="lsn__eyebrow">
                  {{ block.settings.sub_heading | escape }}
                </span>
              {% endif %}
              {% if block.settings.heading != blank %}
                <h2 class="lsn__heading">
                  {{ block.settings.heading | escape }}
                </h2>
              {% endif %}
             {% if block.settings.text != blank %}
                <div class="image-with-text__text rte">{{ block.settings.text }}</div>
              {% endif %}
              {%- if block.settings.button_label != blank -%}
                <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="lsn_button_style" >
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
      {% unless bg_style == 'image' %}
        {% if section.settings.layout == 'left' %}
        {{ image_layout }}
        {% endif %}
      {% endunless %}
    </div>
  </div>
  </div>
</div>

{% schema %}
  {
  "name": "Image with text",
  "class": "lsn-section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "select",
      "id": "layout_style",
      "label": "Layout",
      "default": "fifty-fifty",
      "options": [
        {
          "value": "fifty-fifty",
          "label": "50-50"
        },
        {
          "value": "sixty-five",
          "label": "65-35"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_style",
      "label": "Background Style",
      "default": "color",
      "options": [
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "transparent",
          "label": "Transparent"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F5F5F5",
      "info": "Background color of background style is Color"
    },
    {
        "type": "select",
        "id": "font_color",
        "label": "Font Color",
        "default": "dark",
        "options": [
          {
            "value": "dark",
            "label": "Dark"
          },
          {
            "value": "light",
            "label": "Light"
            }
        ]
      },
      {
      "type": "select",
      "id": "layout",
      "label": "Content Position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
          }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image - Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_tab",
      "label": "Image - Tablet"
    },
     {
      "type": "image_picker",
      "id": "image_mob",
      "label": "Image - Mobile"
    },
    {
      "type": "header",
      "content": "Overlay Background"
    }
  ],
  "blocks": [
    {
    "type": "heading",
    "name":"Content",
    "limit": 1,
    "settings": [   
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub-heading"
      },      
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link URL"
      }
    ]
    }
    ],
    "presets": [
      {
        "name": "Image with text"
      }
    ]
 }
{% endschema %}

