{{ 'component-logo-list.css' | asset_url | stylesheet_tag }}

<div id="lsn-logo-list--{{ section.id }}" class="lsn-logo-list" style="background:{{ section.settings.background_color }};">
  <div class="page-width">
    <div class="lsn-header">
      {% if section.settings.sub_header != blank %}
      <p class="lsn__eyebrow center" style="color:{{ section.settings.font_color }};">
        {{ section.settings.sub_header | escape }}
      </p>
    {% endif %}
     {% if section.settings.header != blank %}
      <h2 class="lsn__heading center" style="color:{{ section.settings.font_color }};">
        {{ section.settings.header | escape }}
      </h2>
    {% endif %}
     {% if section.settings.text_description != blank %}
      <div class="lsn-description center" style="color:{{ section.settings.text_color }};">
       {{ section.settings.text_description }}
       </div>
      {% endif %}
    </div>
    <div class="lsn-list-logo-item">
       {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
      {% for block in section.blocks %}
      {%- assign link = block.settings.link -%} 
        <{% if link != blank %}a href="{{ link }}"{% else %}div{% endif %} class="lsn-wr-img">      
           <span class="lsn-wrapp_image" style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;">
           {%- if block.settings.image != blank -%}
              {%- capture sizes -%}(min-width: 1025px) 480px, (min-width: 750px) 480px, calc(100vw - 30px){%- endcapture -%}
              {{ block.settings.image | image_url: width: 1420 | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '275, 550, 710, 1420',
                class: 'multicolumn-card__image'
              }}
          {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
         {%- endif -%}
        </span>
        </{% if link != blank %}a{% else %}div{% endif %}>   
      {% endfor %}
    </div>
  </div>
</div>
</style>
{% schema %}
  {
    "name": "Logo list",
    "class": "lsn-section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "font_color",
        "label": "Heading Color",
        "default": "#005A87"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 3,
        "max": 5,
        "step": 1,
        "default": 5,
        "label": "Number of columns on desktop"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
      },
       {
        "type": "text",
        "id": "sub_header",
        "default": "Sub-heading",
        "label": "Sub-Header"
      },
      {
        "type": "text",
        "id": "header",
        "default": "Heading",
        "label": "Header"
      },
       {
        "type": "richtext",
        "id": "text_description",
        "default": "<p>",
        "label": "Text Description"
      }
    ],
      "blocks": [
      {
        "type": "Thumbnails",
        "name": "Thumbnails",
        "settings": [
         {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
        ]
      }
    ],
    "presets": [
    {
      "name": "Logo list",
      "blocks": [
        {
          "type": "Thumbnails"
        },
        {
          "type": "Thumbnails"
        },
        {
          "type": "Thumbnails"
        },
        {
          "type": "Thumbnails"
        },
        {
          "type": "Thumbnails"
        },
        {
          "type": "Thumbnails"
        }
      ]
    }
    ]
  }
{% endschema %}


