{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-banner_heading.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (min-width: 750px){
    .lsn_banner_heading.banner--medium .banner__content.onlytext .page-width {
        padding-bottom: 0;
        padding-top: 50px;
    }
  }
  
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}
<div class="collection-hero">
  <div class="lsn_banner_heading banner--medium">
    {% if section.settings.show_collection_image and collection.image %}
      <div class="banner__media">
        <img
            srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ collection.image | image_url }} {{ collection.image.width }}w"
            src="{{ collection.image | image_url: width: 750 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
            alt=""
            width="{{ collection.image.width }}"
            height="{{ collection.image.height }}"
          >
      </div>
      <div class="banner__content">
        <div class="page-width">
          <h1 class="lsn__heading center">{{- collection.title | escape -}}</h1>
        </div>
      </div>
    {% else %}
      <div class="banner__content onlytext">
        <div class="page-width">
          <h1 class="lsn__heading center">{{- collection.title | escape -}}</h1>
        </div>
      </div>
    {% endif %}
    
  </div>
  {%- if section.settings.show_collection_description -%}
  <div class="page-width">
     <div class="collection-hero__text-wrapper" style="display: block;padding: 40px 0;text-align: center;">
      <div class="collection-hero__description rte">{{ collection.description }}</div>
     </div>
  </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
