
{{ 'component-multi-column.css' | asset_url | stylesheet_tag }}

<div class="lsn--multi-column center" style="background:{{ section.settings.background_color }};">
  <div class="page-width">
    {% if section.settings.sub_header != blank %}
      <span class="lsn__eyebrow" style="color:{{ section.settings.font_color }};">
        {{ section.settings.sub_header | escape }}
      </span>
    {% endif %}
    {% if section.settings.header != blank %}
      <h2 class="lsn__heading" style="color:{{ section.settings.font_color }};">
        {{ section.settings.header | escape }}
      </h2>
    {% endif %}
    <div class="lsn-multicolumn-list grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-mobile">
      {% for block in section.blocks %}
      <div class="lsn-multicolumn-item {% if section.settings.column_alignment == 'center' %} center{% endif %}">
        <span class="wrapp_image">
           {%- if block.settings.image != blank -%}
              <img class="large-screen--background"
                srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                src="{{ block.settings.image | image_url: width: 1500 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ block.settings.image.alt | escape }}"
                loading="lazy"
              >
          {%- else -%}
              {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
         {%- endif -%}
        </span>
        <div class="multicolumn-caption">
           {%- if block.settings.title != blank -%}
            <h3 style="color:{{ section.settings.font_color }};">{{ block.settings.title | escape }}</h3>
          {%- endif -%}
          {%- if block.settings.text != blank -%}
            <div class="rte" style="color:{{ section.settings.font_color }};">{{ block.settings.text }}</div>
          {%- endif -%}
        </div>

      </div>
      {% endfor %}
    </div>
    {%- if section.settings.button_label != blank -%}
      <div class="center-button center">
        <a{% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %} class="lsn_button_style" >
          {{ section.settings.button_label | escape }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>


{% schema %}
  {
    "name": "Multi-column",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#005A87"
      },
      {
        "type": "color",
        "id": "font_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "sub_header",
        "default": "Sub-heading",
        "label": "Sub-Header"
      },
      {
        "type": "text",
        "id": "header",
        "default": "Heading",
        "label": "Header"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 5,
        "label": "t:sections.multicolumn.settings.columns_desktop.label"
      },
      {
        "type": "select",
        "id": "column_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
          }
        ],
        "default": "center",
        "label": "t:sections.multicolumn.settings.column_alignment.label"
      },
      {
        "type": "text",
        "id": "button_label",
        "default": "Button Label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button URL"
      },
      {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    }
	],
  "blocks": [
      {
        "type": "column",
        "name": "column",
        "settings": [
     	 {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
         },
		 {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        }
        ]
      }
    ],
    "presets": [
    {
      "name": "Multi-column",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}