<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="reviews--{{ section.id }}" class="lsn--reviews" style="background:{{ section.settings.background_color }};">
  <div class="page-width">
    {% if section.settings.header != blank %}
      <h2 class="lsn__heading center" style="color:{{ section.settings.font_color }};">
        {{ section.settings.header | escape }}
      </h2>
    {% endif %}
    <div class="lsn-reviews-list">
      {% for block in section.blocks %}
      <div class="lsn-review-item">
        <div class="review-name">
          {%- if block.settings.name != blank -%}
            <h3>{{ block.settings.name | escape }}</h3>
          {%- endif -%}
          <span>verified purchase</span>
        </div>
          <span class="rv-stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
          {%- if block.settings.text != blank -%}
            <div class="rte" style="color:{{ section.settings.font_color }};">{{ block.settings.text }}</div>
          {%- endif -%}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<style>
  .lsn--reviews{
    
  }
  .lsn--reviews .lsn__heading{
    
  }
  .lsn--reviews .lsn-reviews-list{
    
  }
  .lsn--reviews .lsn-review-item{
    
  }
  .lsn--reviews .lsn-review-item .review-name{
    
  }
   .lsn--reviews .lsn-review-item .review-name h3{
    
  }
   .lsn--reviews .lsn-review-item .review-name span{
    
  }
  .lsn--reviews .lsn-review-item .rv-stars{
    
  }
   .lsn--reviews .lsn-review-item .rv-stars i{
    
  }
    .lsn--reviews .lsn-review-item .rte{
    
  }
</style>


{% schema %}
  {
    "name": "Reviews",
    "class": "reviews-section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#005A87"
      },
      {
        "type": "text",
        "id": "header",
        "default": "Heading",
        "label": "Header"
      }
	],
  "blocks": [
      {
        "type": "column",
        "name": "column",
        "settings": [
		 {
          "type": "text",
          "id": "name",
          "default": "Name",
          "label": "Name"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>",
          "label": "Text"
        }
        ]
      }
    ],
    "presets": [
    {
      "name": "Reviews",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}