{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{% assign bg_style = section.settings.bg_style %}
{% assign bg_color = section.settings.bg_color %}
{% assign text_color = section.settings.text_color %}

{% style %}
    {% if bg_style == 'color' %}
    #section-rich_text-{{ section.id }}{
      background-color: {{ bg_color }};
      border-radius: 20px;
      overflow: hidden;
    }
    #section-rich_text-{{ section.id }} .rich-text__wrapper *{
      color: {{ text_color }};
    }
    {% else %}
    #section-rich_text-{{ section.id }}{
        background: transparent;
    }
    #section-rich_text-{{ section.id }} .rich-text__wrapper *{
      color: {{ text_color }};
    }
    {% endif %}
{% endstyle %}

<div id="section-rich_text-{{ section.id }}" class="lsn_block-rich_text bg_style_{{ bg_style }}">
  <div class="rich-text content-container section-{{ section.id }}-padding">
    <div class="rich-text__wrapper">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="rich-text__heading rte">
                {{ block.settings.heading | replace: 'p>', 'span>' }}
              </h2>
            {%- when 'subheading' -%}
              <p class="rich-text__subheading">
                {{ block.settings.sub_heading | escape }}
              </p>
            {%- when 'text' -%}
              <div class="rich-text__text rte">
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div class="rich-text__buttons">
                {%- if block.settings.button_link != blank -%}
                  <a href="{{ block.settings.button_link }}" class="lsn_button_style">
                  {{ block.settings.button_label | escape }}
                  </a>
                {%- endif -%}

              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rich text",
  "tag": "section",
  "class": "lsn-section",
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center",
      "label": "Position content",
      "info": "Position is automatically optimized for mobile."
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center",
      "label": "center"
    },
      {
      "type": "header",
      "content": "Background section"
      },
      {
        "type": "select",
        "id": "bg_style",
        "label": "Background Style",
        "default": "color",
        "options": [
          {
            "value": "color",
            "label": "Color"
          },
        {
        "value": "transparent",
        "label": "Transparent"
        }
        ]
      },
      {
        "type": "color",
        "id": "bg_color",
        "default": "#FFFFFF",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "default": "#000000",
        "label": "Text Color"
      }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "Text"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Sub-heading",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "default": "Add a Sub-heading",
          "label": "Sub Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Text"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
