{% assign bg_style = section.settings.bg_style %}
{% assign bg_color = section.settings.bg_color %}

{% assign text_color = section.settings.text_color %}

{% assign heading = block.settings.heading %}
{% assign testimonials = block.settings.testimonials %}

{% assign label = block.settings.label %}
{% assign link = block.settings.link %}

{{ 'testimonials.js' | asset_url | script_tag }}
{{ 'component-testimonials.css' | asset_url | stylesheet_tag }}

{% style %}
    {% if bg_style == 'color' %}
    #section-testimonials-{{ section.id }} .wrapp_testimonials{
      background-color: {{ bg_color }};
      border-radius: 20px;
      overflow: hidden;
    }
    #section-testimonials-{{ section.id }} .wrapp_testimonials *{
      color: {{ text_color }};
    }
    {% else %}
      #section-testimonials-{{ section.id }} .wrapp_testimonials{
        background: transparent;
        color: {{ text_color }};
    }
    {% endif %}
{% endstyle %}
<div id="section-testimonials-{{ section.id }}" class="custom_testimonials bg_style_{{ bg_style }}">
    <div class="page-width">
        <div class="testimonials">
         {%- for block in section.blocks -%}
            <div class="sum_testimonials">
                {% if heading != blank %}
                <span>{{ heading }}</span>
                {% endif %}
                {% if testimonials != blank %}
                <div>{{ testimonials }}</div>
                {% endif %}
                {% if label != blank %}
                <a class="label_btn custom-style-btn" href="{{ link }}">{{ label }}</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Testimonials",
    "class": "lsn-section",
    "settings": [
      {
        "type": "header",
        "content": "Background section"
      },
      {
        "type": "select",
        "id": "bg_style",
        "label": "Background Style",
        "default": "color",
        "options": [
          {
            "value": "color",
            "label": "Color"
          },
        {
        "value": "transparent",
        "label": "Transparent"
        }
        ]
      },
      {
        "type": "color",
        "id": "bg_color",
        "default": "#FFFFFF",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "default": "#000000",
        "label": "Text Color"
      }
    ],
    "blocks": [
      {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "testimonials",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button URL"
      }
      ]
      }
      ],
    "presets": [
    {
      "name": "Testimonials"
    }
    ]
  }
{% endschema %}
