
{{ 'component-video-fullwidth.css' | asset_url | stylesheet_tag }}

<div class="lsn-video-fullWidth text_style_{{ section.settings.text_style }}">
    {%- if section.settings.video_url.type == 'youtube' -%}
      <div class="video-section__media">
        <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1&loop=1&mute=1&playlist={{ section.settings.video_url.id }}" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
      </div>
    {%- elsif section.settings.video_url.type == 'vimeo' -%}
      <div class="video-section__media">
        <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&loop=1&color=ef0800&title=0&byline=0&portrait=0&muted=true" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
      </div>
    {%- else -%}
      <video class="custom_video desk_vd" width="100%" autoplay loop muted playsinline>
          <source src="{{ section.settings.video_url }}" type="video/mp4">
      </video>
    {%- endif -%}
    
  </div>
  <div class="video_caption">
    {% if section.settings.sub_header != blank %}
      <span class="lsn__eyebrow">{{ section.settings.sub_header }}</span>
    {% endif %}
    {% if section.settings.header != blank %}
      <h2 class="lsn__heading">{{ section.settings.header }}</h2>
    {% endif %}
    {% if section.settings.label != blank %}
      <a class="lsn_button_style" href="{{ section.settings.link }}">{{ section.settings.label }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Full width video",
    "class": "lsn-section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "sub_header",
        "default": "Sub-heading",
        "label": "Sub-Header"
      },
      {
        "type": "text",
        "id": "header",
        "default": "Heading",
        "label": "Header"
      },
      {
        "type": "text",
        "id": "label",
        "default": "Button Label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button URL"
      },
      {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ],
        "default": "light",
        "label": "Text Style"
      },
      {
          "type": "header",
          "content": "Video"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "accept": [
          "youtube",
          "vimeo"
        ],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "label": "Video Url - Desktop",
        "placeholder": "t:sections.video.settings.video_url.placeholder",
        "info": "On large screens (Desktop & Tablet)"
      },
      {
        "type": "video_url",
        "id": "video_url_mobile",
        "accept": [
          "youtube",
          "vimeo"
        ],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "label": "Video Url - Mobile",
        "placeholder": "t:sections.video.settings.video_url.placeholder",
        "info": "On small screens (Mobile)"
      }
	],
    "presets": [
    {
      "category": "Custom",
      "name": "Full width video"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}